@charset "utf-8";
/* CSS Document */

/*MAIN DOCUMENT STYLES*/

/*Css principales*/
*{margin:0;padding:0}

html, body {
		margin:0;
		padding:0;
		font-family: Arial, Helvetica, sans-serif; 
		font-size: 16px; 
		color: #6f6f6f
	}




/********************************************************************************* ********************************(a)*/	
a:link {
	color: #6f6f6f;
    }	
a:visited {
	text-decoration: none;
	color: #6f6f6f;
    }	
a:hover {
	color: #009EE0;
	text-decoration: none;
    }	
a:active {
	text-decoration: none;
	color: #009EE0;
    }

/********************************************************************************* ********************************FIN (a)*/	
/********************************************************************************* ********************************id*/
#header {
	   margin:1px auto 5px;
	    box-sizing: border-box;
        -moz-box-sizing: border-box;
		background:#0878b1;
		padding-top:1px;
		min-height:50px;
		overflow:auto;
		border-bottom: 1px solid #dbdbdb;
		width:100%;
		min-width:1024px;
	}
.linea {
	margin: 3px 3px;
	border-left:1px solid #0883c2;
	background:#056596;
    height: 40px;
    width: 1px;
	float:left;
}

#hLogo {
	float:left;
	margin: 10px 10px 0px 20px;
	}
#hLogo img { 
    height:30px;
	width:auto;
	}
#hLogoCliente {
	float:left;
	background:#fff;
	padding:2px 5px;
	margin: 2px 10px;
	border:1px solid #c6c6c6;
	border-radius: 5px;
	-ms-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	font-size:12px;
	}
.imgLogoCliente {
	display:inline-block; 
	vertical-align:middle;
	}
.imgLogoCliente img {
    height:33px;
	width:auto;
	}
.TexLogoCliente {
	display:inline-block; 
	margin:0 5px; 
	vertical-align:middle;
	}
#hPerfil1 {
	float:left;
	padding:1px;
	margin: 3px 10px;
	border:1px solid #d8dfe2;
	border-radius: 5px;
	-ms-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	color:#fff;
	min-height:37px;
	}
#imgPerfilH {
	float:left; 
	width:27px; 
	margin: 2px 3px; 
	height:27px; 
	background:#FFF; 
	border:1px solid #ffc002;
	}
#imgPerfilH img {
	height:27px;
	width:27px; 
	}
#hregistro{
	float: right;
	padding:5px;
	margin: 5px 20px;
	width:auto;

	}
#boxRight{
	float: right;
	padding:5px;
	margin: 5px 20px;
	width:auto;
	}
.inputHingre{ 
   border: 1px solid #056596; 
   height: 15px;
   width:200px;
   font-size:14px;
   padding: 2px 5px;
   color:#868688;
	}
a.btn_salirPrin {
	    border:none; 
		cursor:pointer;
		color:#FFF !important;
		text-decoration:none;
		font-size:13px;
		padding: 5px 10px;
		font-weight:bold; 
		color:#fff;
		background-color: #009EE0;
		-webkit-border-radius: 5px;
    
    border-radius: 5px;
		}
a.btn_salirPrin:hover { 
	background:#0192cf; 
    } 

#container {
	   box-sizing: border-box;
      -moz-box-sizing: border-box;
	   height:100%;
	   position:relative;
	}
#contenido {
	float:left;/*para tener encuenta */
	width:100%;/*para tener encuenta */
	    box-sizing: border-box;
       -moz-box-sizing: border-box;
	    height:100%;
		overflow: visible;
		background: #fff;

	}
#contenido_box {
	float:left; /*para colocar el contenido a su minimo tamaño*/
	width:100%;
	margin: 0 10px;
	    box-sizing: border-box;
       -moz-box-sizing: border-box;
	   overflow:auto;
		background:#fff;
	}





#contenidofooter {
	float: left;
	min-height:47px;
	background:#0878b1;
	width:100%;
	margin:10px 0 0 0;
	}
#footer {
        box-sizing: border-box;
         -moz-box-sizing: border-box;
		bottom:0;
		height:auto;	/* Altura del pie de footer */
		width:100%;
		min-width:1024px;
		
	}
#footerCopy {
	float:left; 
	width:auto;
	margin-left:20px;
	margin-top:10px; 
	color: #fff;
	font-size:12px;
	}
#footerDesar {
	float:right;
	margin-right:20px; 
	width:auto; 
	font-size:11px;
	}
#logosecu {
	float:right; 
	width:46px; 
	margin-top:10px;
	}
#texDes {
	float:right; 
	width:auto;  
	margin-top:10px; 
	margin-right:5px; 
	color:#fff; 
	font-size:11px;
	}



/************************************************** small screen */


@media screen and (max-width: 720px) {

  #footerContBtn {
     width:720px;
	}
  .marcoCrear{
	width: 680px;
	}
  .publiInicio {
	width:47%; 
	height:47%; 
	}
  .Txtlogo {
	width:200px;
	}
  .tableCaja {
	width:500;
	overflow-x: scroll;
    }

}

@media screen and (max-width: 400px) {
	
   #footerContBtn {
     width:400px;
	}
  .marcoCrear{
	width: 380px;
	 margin:0 auto;
	}
  .tableCaja {
	width:380;	
   }
  .user_campos {
	margin:none;
	width:350px;
   }
   .user_Datos {
	width:90%;
    }
   .user_permisos {
	width:90%;
    }
}