.menu_list { 
width: 220px; /* Ancho del menú */
}

.menu_head {
padding: 5px 10px;
color:#848484; /* Color de las pestañas principales */
cursor: pointer;
position: relative;
margin:1px;
margin-left:0;
margin-right:0;
font-weight:bold;
background-color: #DBDBDB; /* Color de fondo */
background-image: url(https://lh5.googleusercontent.com/-mQHPLQrjxcI/TlQJSHgEsZI/AAAAAAAABno/HbkoM9nbaWQ/flecha-abajo.png);
background-position:center right;
background-repeat:no-repeat;
}



.menu_body {
display:none;
}
.menu_body a{
display:block;
color:#848484; /* Color de los enlaces */
background-color:#BDBDBD; /* Color de fondo de los enlaces */
padding-left:10px;
font-weight:bold;
text-decoration:none;
}
.menu_body span{
display:block;
color:#848484; /* Color de los enlaces */
background-color:#BDBDBD; /* Color de fondo de los enlaces */
padding-left:10px;
font-weight:bold;
text-decoration:none;
}

.menu_body a:hover{
color: #000000; /* Color de los enlaces al pasar el cursor */
text-decoration:underline;
}

.datosperfil{
  font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size:10px; 
}

<!-- carrito de compra -->
 #res1 {
	min-height:120px;
	max-height:400px;
    width:300px;
	background-color:#FFF;
	overflow-x:hidden;
	overflow-y:auto;
	border-left: 0px solid #ddd;
	margin:0px;
  }
  #res2 {
	  min-height:120px;
	  max-height:400px;
	  width:210px;
	  background-color:#FFF;
	  overflow-x:hidden;
	  overflow-y:auto; 
      border-left: 0px solid #ddd;
  }
  .tableresumen{
     font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	 font-size:9px;
	 color:#000;
  }

@media screen and (max-width: 600px) {
  .datosperfil img {
    width:50px;
	height:50px;
  }
  .datosperfil{
    font-size:8px;
  }
}

@media screen and (max-width: 600px) {
  .menu_list {
    width: 125px;
  }
}
@media screen and (max-width: 900px) {
  .menu_list {
    width: 125px;
  }
}

@media screen and (max-width: 1024px) {
  .menu_list {
    width: 125px;
  }
}


@media screen and (max-width: 600px) {
  .menu_head {
    font-size:9px;
  }
}
@media screen and (max-width: 900px) {
  .menu_head {
    font-size:9px;
  }
}

@media screen and (max-width: 1024px) {
  .menu_head {
    font-size:9px;
  }
}

@media screen and (max-width: 600px) {
  #res1 {
	width:105px;
  }
  #res2 {
	  width:100px;
  }
  
}
@media screen and (max-width: 1024px) {
  #res1 {
	width:150px;
	font-size:8px;
  }
  #res2 {
	  width:145px;
	  font-size:8px;
  }
  .tableresumen{
      font-size:8px;
  }
  
}