
a.BtnFooter:link, a.BtnFooter:visited  { 
    color:#3654A3; 
    text-decoration:none; }
a.BtnFooter:hover {
    color:#3654A3; 
    text-decoration: underline; }

.boxBtnFooter {
    color:#3654A3; 
    font-size:17px;
    margin-left:auto; 
    margin-right:auto; 
    margin-top:13px; 
    text-align:center; 
    width:400px;
    text-decoration:none; 
}

#boxCopyFooter {
    color:#3654A3;
    font-size:17px; 
    margin-left:auto; 
    margin-right:auto; 
    margin-top:13px; 
    text-align:center;
    width:650px;   
}

#boxLogosFooter { 
    margin-left:auto; 
    margin-right:auto; 
    margin-top:15px;
    overflow: hidden;
    text-align:center;   
    width:500px;  
}
